.details-container{
    width: 80%;
    align-content: center;
}

input[type=text]{
    width: 50%;
    align-content: center;
    border-radius: 5px;
    border: none;
}

input[type=number]{
    width: 20%;
    border-radius: 5px;
    border:none;
}

textarea{
    width: 50%;
    height: 200px;
}