-- MySQL dump 10.16  Distrib 10.1.37-MariaDB, for Win32 (AMD64)
--
-- Host: localhost    Database: tienda
-- ------------------------------------------------------
-- Server version	10.1.37-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `compra`
--

DROP TABLE IF EXISTS `compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compra` (
  `noPedido` int(11) NOT NULL AUTO_INCREMENT,
  `fecha` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `comprador` varchar(30) NOT NULL,
  PRIMARY KEY (`noPedido`),
  KEY `comprador` (`comprador`),
  CONSTRAINT `compra_ibfk_1` FOREIGN KEY (`comprador`) REFERENCES `usuario` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra`
--

LOCK TABLES `compra` WRITE;
/*!40000 ALTER TABLE `compra` DISABLE KEYS */;
/*!40000 ALTER TABLE `compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto`
--

DROP TABLE IF EXISTS `producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `producto` (
  `idProducto` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `precio` double(10,2) NOT NULL,
  `stock` int(11) NOT NULL,
  `tipo` char(1) NOT NULL,
  `foto` blob NOT NULL,
  `detalles` text NOT NULL,
  PRIMARY KEY (`idProducto`,`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto`
--

LOCK TABLES `producto` WRITE;
/*!40000 ALTER TABLE `producto` DISABLE KEYS */;
/*!40000 ALTER TABLE `producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productocompra`
--

DROP TABLE IF EXISTS `productocompra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `productocompra` (
  `noPedido` int(11) NOT NULL,
  `idProducto` int(11) NOT NULL,
  `nomProducto` varchar(255) NOT NULL,
  `cantidadProdcuto` int(11) NOT NULL,
  PRIMARY KEY (`noPedido`,`idProducto`,`nomProducto`),
  KEY `idProducto` (`idProducto`,`nomProducto`),
  CONSTRAINT `productocompra_ibfk_1` FOREIGN KEY (`noPedido`) REFERENCES `compra` (`noPedido`),
  CONSTRAINT `productocompra_ibfk_2` FOREIGN KEY (`idProducto`, `nomProducto`) REFERENCES `producto` (`idProducto`, `nom`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productocompra`
--

LOCK TABLES `productocompra` WRITE;
/*!40000 ALTER TABLE `productocompra` DISABLE KEYS */;
/*!40000 ALTER TABLE `productocompra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `username` varchar(30) NOT NULL,
  `priv` char(1) NOT NULL,
  `np` varchar(70) NOT NULL,
  `ap` varchar(35) NOT NULL,
  `am` varchar(35) DEFAULT NULL,
  `calle` varchar(30) NOT NULL,
  `noExt` int(11) NOT NULL,
  `noInt` int(11) DEFAULT NULL,
  `col` varchar(100) NOT NULL,
  `alc` varchar(255) NOT NULL,
  `muni` varchar(255) DEFAULT NULL,
  `edo` varchar(100) NOT NULL,
  `cd` varchar(255) NOT NULL,
  `cp` int(11) NOT NULL,
  `tel` char(20) DEFAULT NULL,
  `pass` text NOT NULL,
  PRIMARY KEY (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES ('sadaga2922','','Saul','Garcia','Medina','Gabriela Mistral',16,12,'Villa Centroamericana','Tl├â┬íhuac','Tl├â┬íhuac','DF','CDMX',13278,'5539623586','hola'),('sss','','sss','sss','sss','sss',15,12,'sss','sss','sss','sss','sss',1111,'1111','sjaja');
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-11-13  9:35:07
